body {
  font-family: "Source Code Pro", "Monaco", "Consolas", "sans-serif";
}

h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.7);

  line-height: 3em;
  font-size: 1em;

  color: #fff;
  background: #e74c3c;
  border-bottom: 0.4em solid #c0392b;
}

.log {
  padding: 0;
  margin: 0;
  width: 100%;
}

.log th {
  text-align: left;
}

.log tr {
  font-size: 0.8em;
  line-height: 2.4em;
  padding: 0;
}

.log td, .log th {
  padding: 0 0.9em;
}

.sender-server {
  background: #eee;
}

.sender-client {

}
